.custom-navbar {
    background-color: #E64C3C;
    padding: 0.75rem 1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    color: white;
    font-size: 16px;
}

.nav-link {
    color: white !important;
    margin-left: 1rem;
    transition: color 0.3s ease-in-out;
}

.nav-link:hover {
    color: #ffdd57 !important; /* gold on hover */
}

.navbar-toggler {
    border-color: rgba(255, 255, 255, 0.5);
}

.company-name{
    font-size: 1.2rem;
}
